<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="de.sebaty.durak.GameServerMain" />
    <module name="Server" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>